--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aerolineas; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.aerolineas (
    activo boolean NOT NULL,
    codigo_iata character varying(3),
    id_aerolinea bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.aerolineas OWNER TO salva;

--
-- Name: aerolineas_id_aerolinea_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.aerolineas ALTER COLUMN id_aerolinea ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aerolineas_id_aerolinea_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: agente_habilidades; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.agente_habilidades (
    id_agente bigint NOT NULL,
    id_posicion bigint NOT NULL
);


ALTER TABLE public.agente_habilidades OWNER TO salva;

--
-- Name: agentes; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.agentes (
    activo boolean NOT NULL,
    fecha_nacimiento date,
    id_agente bigint NOT NULL,
    id_superior bigint,
    genero character varying(20) NOT NULL,
    numero_carnet character varying(20) NOT NULL,
    rol character varying(20) NOT NULL,
    telefono character varying(20),
    apellido character varying(50) NOT NULL,
    nombre character varying(50) NOT NULL,
    email character varying(100),
    direccion character varying(255),
    ruta_fotografia character varying(255),
    CONSTRAINT agentes_genero_check CHECK (((genero)::text = ANY ((ARRAY['MASCULINO'::character varying, 'FEMENINO'::character varying, 'OTRO'::character varying])::text[]))),
    CONSTRAINT agentes_rol_check CHECK (((rol)::text = ANY ((ARRAY['AGENTE'::character varying, 'SUPERVISOR'::character varying, 'COORDINADOR'::character varying])::text[])))
);


ALTER TABLE public.agentes OWNER TO salva;

--
-- Name: agentes_id_agente_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.agentes ALTER COLUMN id_agente ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.agentes_id_agente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: assignments; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.assignments (
    fecha_asignacion date NOT NULL,
    agente_id bigint,
    id bigint NOT NULL,
    posicion_seguridad_id bigint NOT NULL,
    vuelo_id bigint NOT NULL,
    estado character varying(255) NOT NULL
);


ALTER TABLE public.assignments OWNER TO salva;

--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.assignments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assignments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: necesidades_vuelo; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.necesidades_vuelo (
    cantidad_agentes integer NOT NULL,
    fin_cobertura timestamp(6) without time zone NOT NULL,
    id_necesidad bigint NOT NULL,
    id_posicion bigint NOT NULL,
    id_vuelo bigint,
    inicio_cobertura timestamp(6) without time zone NOT NULL,
    plantilla_vuelo_id bigint,
    CONSTRAINT necesidades_vuelo_cantidad_agentes_check CHECK ((cantidad_agentes >= 1))
);


ALTER TABLE public.necesidades_vuelo OWNER TO salva;

--
-- Name: necesidades_vuelo_id_necesidad_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.necesidades_vuelo ALTER COLUMN id_necesidad ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.necesidades_vuelo_id_necesidad_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permisos; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.permisos (
    fecha_fin timestamp(6) without time zone NOT NULL,
    fecha_inicio timestamp(6) without time zone NOT NULL,
    fecha_solicitud timestamp(6) without time zone NOT NULL,
    id_agente bigint NOT NULL,
    id_permiso bigint NOT NULL,
    estado_solicitud character varying(20) NOT NULL,
    tipo_permiso character varying(20) NOT NULL,
    motivo text NOT NULL,
    ruta_documento character varying(255),
    CONSTRAINT permisos_estado_solicitud_check CHECK (((estado_solicitud)::text = ANY ((ARRAY['SOLICITADO'::character varying, 'APROBADO'::character varying, 'RECHAZADO'::character varying])::text[]))),
    CONSTRAINT permisos_tipo_permiso_check CHECK (((tipo_permiso)::text = ANY ((ARRAY['VACACIONES'::character varying, 'ENFERMEDAD'::character varying, 'PERSONAL'::character varying, 'INCAPACIDAD'::character varying, 'EMBARAZO'::character varying, 'DEFUNCION_FAMILIAR'::character varying, 'OTRO'::character varying])::text[])))
);


ALTER TABLE public.permisos OWNER TO salva;

--
-- Name: permisos_agente_aerolinea; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.permisos_agente_aerolinea (
    id_aerolinea bigint NOT NULL,
    id_agente bigint NOT NULL,
    id_permiso_aa bigint NOT NULL,
    estado_permiso character varying(20) NOT NULL,
    CONSTRAINT permisos_agente_aerolinea_estado_permiso_check CHECK (((estado_permiso)::text = ANY ((ARRAY['PERMITIDO'::character varying, 'RECHAZADO'::character varying])::text[])))
);


ALTER TABLE public.permisos_agente_aerolinea OWNER TO salva;

--
-- Name: permisos_agente_aerolinea_id_permiso_aa_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.permisos_agente_aerolinea ALTER COLUMN id_permiso_aa ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permisos_agente_aerolinea_id_permiso_aa_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permisos_id_permiso_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.permisos ALTER COLUMN id_permiso ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permisos_id_permiso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: plantilla_dias_operacion; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.plantilla_dias_operacion (
    plantilla_id bigint NOT NULL,
    dia_semana character varying(255) NOT NULL,
    CONSTRAINT plantilla_dias_operacion_dia_semana_check CHECK (((dia_semana)::text = ANY ((ARRAY['MONDAY'::character varying, 'TUESDAY'::character varying, 'WEDNESDAY'::character varying, 'THURSDAY'::character varying, 'FRIDAY'::character varying, 'SATURDAY'::character varying, 'SUNDAY'::character varying])::text[])))
);


ALTER TABLE public.plantilla_dias_operacion OWNER TO salva;

--
-- Name: plantillas_vuelo; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.plantillas_vuelo (
    fecha_fin_contrato date NOT NULL,
    fecha_inicio_contrato date NOT NULL,
    hora_fin_operacion_seguridad time(6) without time zone,
    hora_llegada time(6) without time zone NOT NULL,
    hora_salida time(6) without time zone NOT NULL,
    id bigint NOT NULL,
    id_aerolinea bigint NOT NULL,
    numero_vuelo character varying(10) NOT NULL,
    tipo_operacion character varying(20) NOT NULL,
    nombre_plantilla character varying(50) NOT NULL,
    destino character varying(100) NOT NULL,
    origen character varying(100) NOT NULL,
    CONSTRAINT plantillas_vuelo_tipo_operacion_check CHECK (((tipo_operacion)::text = ANY ((ARRAY['LLEGADA_SOLO'::character varying, 'SALIDA_SOLO'::character varying, 'TRANSITO'::character varying, 'PERNOCTA_RON'::character varying])::text[])))
);


ALTER TABLE public.plantillas_vuelo OWNER TO salva;

--
-- Name: plantillas_vuelo_id_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.plantillas_vuelo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.plantillas_vuelo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: posiciones_seguridad; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.posiciones_seguridad (
    activo boolean NOT NULL,
    requiere_entrenamiento_especial boolean NOT NULL,
    id_posicion bigint NOT NULL,
    genero_requerido character varying(20) NOT NULL,
    nombre_posicion character varying(100) NOT NULL,
    descripcion character varying(255),
    CONSTRAINT posiciones_seguridad_genero_requerido_check CHECK (((genero_requerido)::text = ANY ((ARRAY['MASCULINO'::character varying, 'FEMENINO'::character varying, 'OTRO'::character varying])::text[])))
);


ALTER TABLE public.posiciones_seguridad OWNER TO salva;

--
-- Name: posiciones_seguridad_id_posicion_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.posiciones_seguridad ALTER COLUMN id_posicion ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.posiciones_seguridad_id_posicion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supervisores; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.supervisores (
    id_supervisor bigint NOT NULL,
    apellido character varying(50) NOT NULL,
    codigo_empleado character varying(20) NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.supervisores OWNER TO salva;

--
-- Name: supervisores_id_supervisor_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.supervisores ALTER COLUMN id_supervisor ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supervisores_id_supervisor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: turnos; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.turnos (
    fin_turno timestamp(6) without time zone NOT NULL,
    id_agente bigint NOT NULL,
    id_turno bigint NOT NULL,
    inicio_turno timestamp(6) without time zone NOT NULL,
    estado_turno character varying(20) NOT NULL,
    tipo_turno character varying(20) NOT NULL,
    CONSTRAINT turnos_estado_turno_check CHECK (((estado_turno)::text = ANY ((ARRAY['PROGRAMADO'::character varying, 'COMPLETADO'::character varying, 'CANCELADO'::character varying, 'AUSENTE'::character varying, 'CON_PERMISO'::character varying])::text[]))),
    CONSTRAINT turnos_tipo_turno_check CHECK (((tipo_turno)::text = ANY ((ARRAY['REGULAR'::character varying, 'CORTO'::character varying, 'NOCTURNO'::character varying, 'EXTRA'::character varying])::text[])))
);


ALTER TABLE public.turnos OWNER TO salva;

--
-- Name: turnos_id_turno_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.turnos ALTER COLUMN id_turno ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.turnos_id_turno_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.usuarios (
    id bigint NOT NULL,
    password character varying(255) NOT NULL,
    rol character varying(255) NOT NULL,
    username character varying(255) NOT NULL
);


ALTER TABLE public.usuarios OWNER TO salva;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.usuarios ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vuelos; Type: TABLE; Schema: public; Owner: salva
--

CREATE TABLE public.vuelos (
    fecha_hora_llegada timestamp(6) without time zone NOT NULL,
    fecha_hora_salida timestamp(6) without time zone NOT NULL,
    fin_operacion_seguridad timestamp(6) without time zone,
    id_aerolinea bigint NOT NULL,
    id_vuelo bigint NOT NULL,
    numero_vuelo character varying(10) NOT NULL,
    estado character varying(20) NOT NULL,
    tipo_operacion character varying(20) NOT NULL,
    destino character varying(100) NOT NULL,
    origen character varying(100) NOT NULL,
    CONSTRAINT vuelos_estado_check CHECK (((estado)::text = ANY ((ARRAY['PROGRAMADO'::character varying, 'RETRASADO'::character varying, 'CANCELADO'::character varying, 'COMPLETADO'::character varying, 'EN_VUELO'::character varying])::text[]))),
    CONSTRAINT vuelos_tipo_operacion_check CHECK (((tipo_operacion)::text = ANY ((ARRAY['LLEGADA_SOLO'::character varying, 'SALIDA_SOLO'::character varying, 'TRANSITO'::character varying, 'PERNOCTA_RON'::character varying])::text[])))
);


ALTER TABLE public.vuelos OWNER TO salva;

--
-- Name: vuelos_id_vuelo_seq; Type: SEQUENCE; Schema: public; Owner: salva
--

ALTER TABLE public.vuelos ALTER COLUMN id_vuelo ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vuelos_id_vuelo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: aerolineas aerolineas_codigo_iata_key; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.aerolineas
    ADD CONSTRAINT aerolineas_codigo_iata_key UNIQUE (codigo_iata);


--
-- Name: aerolineas aerolineas_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.aerolineas
    ADD CONSTRAINT aerolineas_pkey PRIMARY KEY (id_aerolinea);


--
-- Name: agente_habilidades agente_habilidades_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.agente_habilidades
    ADD CONSTRAINT agente_habilidades_pkey PRIMARY KEY (id_agente, id_posicion);


--
-- Name: agentes agentes_email_key; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT agentes_email_key UNIQUE (email);


--
-- Name: agentes agentes_numero_carnet_key; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT agentes_numero_carnet_key UNIQUE (numero_carnet);


--
-- Name: agentes agentes_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT agentes_pkey PRIMARY KEY (id_agente);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: necesidades_vuelo necesidades_vuelo_id_vuelo_id_posicion_key; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.necesidades_vuelo
    ADD CONSTRAINT necesidades_vuelo_id_vuelo_id_posicion_key UNIQUE (id_vuelo, id_posicion);


--
-- Name: necesidades_vuelo necesidades_vuelo_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.necesidades_vuelo
    ADD CONSTRAINT necesidades_vuelo_pkey PRIMARY KEY (id_necesidad);


--
-- Name: permisos_agente_aerolinea permisos_agente_aerolinea_id_agente_id_aerolinea_key; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.permisos_agente_aerolinea
    ADD CONSTRAINT permisos_agente_aerolinea_id_agente_id_aerolinea_key UNIQUE (id_agente, id_aerolinea);


--
-- Name: permisos_agente_aerolinea permisos_agente_aerolinea_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.permisos_agente_aerolinea
    ADD CONSTRAINT permisos_agente_aerolinea_pkey PRIMARY KEY (id_permiso_aa);


--
-- Name: permisos permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_pkey PRIMARY KEY (id_permiso);


--
-- Name: plantilla_dias_operacion plantilla_dias_operacion_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.plantilla_dias_operacion
    ADD CONSTRAINT plantilla_dias_operacion_pkey PRIMARY KEY (plantilla_id, dia_semana);


--
-- Name: plantillas_vuelo plantillas_vuelo_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.plantillas_vuelo
    ADD CONSTRAINT plantillas_vuelo_pkey PRIMARY KEY (id);


--
-- Name: posiciones_seguridad posiciones_seguridad_nombre_posicion_key; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.posiciones_seguridad
    ADD CONSTRAINT posiciones_seguridad_nombre_posicion_key UNIQUE (nombre_posicion);


--
-- Name: posiciones_seguridad posiciones_seguridad_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.posiciones_seguridad
    ADD CONSTRAINT posiciones_seguridad_pkey PRIMARY KEY (id_posicion);


--
-- Name: supervisores supervisores_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.supervisores
    ADD CONSTRAINT supervisores_pkey PRIMARY KEY (id_supervisor);


--
-- Name: turnos turnos_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_pkey PRIMARY KEY (id_turno);


--
-- Name: supervisores ukkuthgnurlk51rlm6088oj2bx4; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.supervisores
    ADD CONSTRAINT ukkuthgnurlk51rlm6088oj2bx4 UNIQUE (codigo_empleado);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_username_key; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_username_key UNIQUE (username);


--
-- Name: vuelos vuelos_pkey; Type: CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.vuelos
    ADD CONSTRAINT vuelos_pkey PRIMARY KEY (id_vuelo);


--
-- Name: permisos fk3oyfad900ihtyrbn5aoj2txkg; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT fk3oyfad900ihtyrbn5aoj2txkg FOREIGN KEY (id_agente) REFERENCES public.agentes(id_agente);


--
-- Name: plantilla_dias_operacion fk3p7evpcgto8b1hqirnkllmro0; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.plantilla_dias_operacion
    ADD CONSTRAINT fk3p7evpcgto8b1hqirnkllmro0 FOREIGN KEY (plantilla_id) REFERENCES public.plantillas_vuelo(id);


--
-- Name: assignments fk6d88eim9srrdpkgchs7gm7lu4; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT fk6d88eim9srrdpkgchs7gm7lu4 FOREIGN KEY (posicion_seguridad_id) REFERENCES public.posiciones_seguridad(id_posicion);


--
-- Name: agente_habilidades fk7smps3t3kmj0cavu3frc41aqk; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.agente_habilidades
    ADD CONSTRAINT fk7smps3t3kmj0cavu3frc41aqk FOREIGN KEY (id_agente) REFERENCES public.agentes(id_agente);


--
-- Name: necesidades_vuelo fka0c54r39k2rxu3bpk3dai1h4k; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.necesidades_vuelo
    ADD CONSTRAINT fka0c54r39k2rxu3bpk3dai1h4k FOREIGN KEY (id_posicion) REFERENCES public.posiciones_seguridad(id_posicion);


--
-- Name: necesidades_vuelo fka6vvik4oks6fstvl2skokiphq; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.necesidades_vuelo
    ADD CONSTRAINT fka6vvik4oks6fstvl2skokiphq FOREIGN KEY (id_vuelo) REFERENCES public.vuelos(id_vuelo);


--
-- Name: agente_habilidades fkddjji3khla0jkaatkib5b0gao; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.agente_habilidades
    ADD CONSTRAINT fkddjji3khla0jkaatkib5b0gao FOREIGN KEY (id_posicion) REFERENCES public.posiciones_seguridad(id_posicion);


--
-- Name: necesidades_vuelo fkdmmro3fmwxx760lcf4gg5elqt; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.necesidades_vuelo
    ADD CONSTRAINT fkdmmro3fmwxx760lcf4gg5elqt FOREIGN KEY (plantilla_vuelo_id) REFERENCES public.plantillas_vuelo(id);


--
-- Name: plantillas_vuelo fkfcrgh9v7i57uu078r06g0i37w; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.plantillas_vuelo
    ADD CONSTRAINT fkfcrgh9v7i57uu078r06g0i37w FOREIGN KEY (id_aerolinea) REFERENCES public.aerolineas(id_aerolinea);


--
-- Name: vuelos fkfxhcdt107eb3bo3xvqsk3ax2d; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.vuelos
    ADD CONSTRAINT fkfxhcdt107eb3bo3xvqsk3ax2d FOREIGN KEY (id_aerolinea) REFERENCES public.aerolineas(id_aerolinea);


--
-- Name: assignments fkiec9g2gdemwafvn7xg36shif1; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT fkiec9g2gdemwafvn7xg36shif1 FOREIGN KEY (agente_id) REFERENCES public.agentes(id_agente);


--
-- Name: turnos fkkm11vrr4u6yyqykvnwicl4e3m; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT fkkm11vrr4u6yyqykvnwicl4e3m FOREIGN KEY (id_agente) REFERENCES public.agentes(id_agente);


--
-- Name: permisos_agente_aerolinea fkl0pbqmu02wvr3kr23nflop67f; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.permisos_agente_aerolinea
    ADD CONSTRAINT fkl0pbqmu02wvr3kr23nflop67f FOREIGN KEY (id_aerolinea) REFERENCES public.aerolineas(id_aerolinea);


--
-- Name: assignments fkpymisonvcbmmns9osfqovujwg; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT fkpymisonvcbmmns9osfqovujwg FOREIGN KEY (vuelo_id) REFERENCES public.vuelos(id_vuelo);


--
-- Name: agentes fkt10k6sem7lhfw6qb4f0h3r4kq; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT fkt10k6sem7lhfw6qb4f0h3r4kq FOREIGN KEY (id_superior) REFERENCES public.agentes(id_agente);


--
-- Name: permisos_agente_aerolinea fktra88kgim9b1jfnmk5bfin8cq; Type: FK CONSTRAINT; Schema: public; Owner: salva
--

ALTER TABLE ONLY public.permisos_agente_aerolinea
    ADD CONSTRAINT fktra88kgim9b1jfnmk5bfin8cq FOREIGN KEY (id_agente) REFERENCES public.agentes(id_agente);


--
-- PostgreSQL database dump complete
--

